<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast/dist/css/iziToast.min.css">
    <script src="https://cdn.jsdelivr.net/npm/izitoast/dist/js/iziToast.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Control Académico{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="/agregar_docente/">Añadir Docente</a>
            <a href="/agregar_materia/">Añadir Materia</a>
            <a href="/agregar_estudiante/">Añadir Estudiante</a>
        </nav>
    </header>
    <main>
        {% block content %}
        <h1>Materias</h1>
        <ul>
            {% for materia in materias %}
                <li>
                    {{ materia.nombre }}
                    <a href="/marcar_asistencia/{{ materia.id }}">Marcar Asistencia</a>
                    <a href="/ingresar_calificaciones/{{ materia.id }}">Ingresar Calificaciones</a>
                    <a href="/generar_reportes/{{ materia.id }}">Generar Reporte</a>
                </li>
            {% endfor %}
        </ul>
        {% endblock %}
    </main>
    <script>
        {% if messages %}
            {% for message in messages %}
                iziToast.{{ message.tags }}({
                    title: '{{ message.tags|capfirst }}',
                    message: '{{ message }}',
                    position: 'topRight',
                    timeout: 5000
                });
            {% endfor %}
        {% endif %}
    </script>
</body>
</html>
