<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Control Académico{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'agregar_docente' %}">Añadir Docente</a>
            <a href="{% url 'agregar_materia' %}">Añadir Materia</a>
            <a href="{% url 'agregar_estudiante' %}">Añadir Estudiante</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
