{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast/dist/css/iziToast.min.css">
    <script src="https://cdn.jsdelivr.net/npm/izitoast/dist/js/iziToast.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Control Académico{% endblock %}</title>
</head>
<body>    
    <main>
        {% block content %}
        <div class="d-flex align-items-start" style="position: relative; width: 100%; height: 100vh; overflow: hidden;">
            <video id="background-video" autoplay loop muted playsinline 
                style="position: absolute;  width: 100%; height: auto; min-height: 100%;">
                <source src="{% static 'recursos/vid.mp4' %}" type="video/mp4">
                Tu navegador no soporta la reproducción de videos.
            </video>
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; text-align: center; color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">
                <div style="background: rgba(0, 0, 0, 0.7); border: none; border-radius: 10px; padding: 20px; max-width: 400px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);">
                    <h1 style="margin-bottom: 20px;">Bienvenido a la Plataforma Académica</h1>
                    <p style="margin-bottom: 20px;">Gestiona estudiantes, notas y asistencias de forma eficiente.</p>
                    <a href="/home/" style="background-color: #007bff; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Comenzar</a>
                </div>
            </div>
        </div> 
        {% endblock %}
    </main>
    

</body>
</html>



